/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

.top-nav-bar {
    background-color: #ffffff;
}

.login-container {
    display: inline-block;
}

.login-btn {
    color: #000;
    text-decoration: none;
    size: 2em;
}

.cart-container {
    display: inline-block;
    float: right;
}

.header-menu li {
    color: #fff;
}

.header-menu input {
    color: #000;
}

.footer {
    height: 250px;
}

.footer-contato {
    color: #fff;
}

.footer-social {
    width: 300px;
    display: inline-block;
    float: right;
}
.footer-social h1 {
    color: #fff;
}

.icon {
    max-height: 30px;
    max-width: 30px;
}

.icon-larger {
    max-height: 45px;
    max-width: 45px;
}